.DS_Store
.env
.venv/
venv/
.pytest_cache/
__pycache__/
*.pyc

logs/*
!logs/.gitkeep
datasets/*
!datasets/.gitkeep
experiments/*
!experiments/.gitkeep

orquestra_web/node_modules/
orquestra_web/dist/
orquestra_web/*.tsbuildinfo
orquestra_web/vite.config.js
orquestra_web/vite.config.d.ts
orquestra_web/src-tauri/target/
orquestra_web/src-tauri/gen/
